<nav class="navbar">
  <ul class="navbar-list">
    <li class="navbar-item" routerLinkActive="active"><a routerLink="/proveedores" class="navbar-link"><i class="fas fa-truck"></i> Proveedores</a></li>
    <li class="navbar-item" routerLinkActive="active"><a routerLink="/productos" class="navbar-link"><i class="fas fa-box"></i> Productos</a></li>
    <li class="navbar-item" routerLinkActive="active"><a routerLink="/entradasinv" class="navbar-link"><i class="fas fa-arrow-circle-down"></i> Entradas Inventario</a></li>
    <li class="navbar-item" routerLinkActive="active"><a routerLink="/salidasinv" class="navbar-link"><i class="fas fa-arrow-circle-up"></i> Salidas Inventario</a></li>
  </ul>
</nav>
  